<nav class="navbar bg-dark">
  <h2>Online Shop</h2>
  <ul>
    <li routerLinkActive="active">
      <a href="#">Phone</a>
    </li>
    <li routerLinkActive="active">
      <a href="#">Tablet</a>
    </li>
    <li routerLinkActive="active">
      <a href="#">Laptop</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/cart']">Cart</a>
    </li>
  </ul>
  <div *ngIf="isAuthenticated; then Authenticated; else notAuthenticated;"></div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<ng-template #Authenticated>
  <div (click)="isShowCustomerMenu=true" (clickOutside)="isShowCustomerMenu=false">
    <div *ngIf="isShowCustomerMenu">
      <app-customer-main-menu></app-customer-main-menu>
    </div>
    <a>Account</a>
  </div>
</ng-template>

<ng-template #notAuthenticated>
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/login']">Login</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/sing-up']">Sign up</a>
    </li>
  </ul>
</ng-template>
